.fade-in {
    animation: fade-in 0.75s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

#title {
    justify-content: center;
    font-size: 3rem;
    color: #166C9B;
}

#arrow img {
    width: 80px;
    margin-top: 40px;
    opacity: 0.75;
    padding-bottom: 37.5vh;
}

#builder-section-1 {
    margin-top: 35vh;
}

#builder-section-1 .title {
    color: #166C9B;
    font-family: "CabinSketchReg", serif;
    font-size: 5rem;
}

#builder-section-1 .description {
    font-size: 1.5rem;
}

#builder-section-2 {
    border-radius: 3rem;
    border: 2px solid black;
    padding: 2.5rem;
    color: #333;
    margin-bottom: 20vh;
}

#builder-section-2 .build-label {
    text-align: left;
    font-family: 'CabinSketchReg', serif;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: #166C9B;
    font-weight: bold;
}

#builder-section-2 .builder-input-wrapper-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);;
    gap: 1rem;
    padding-bottom: 1rem;
}

#builder-section-2 .builder-input-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    gap: 1rem;
    padding-bottom: 1rem;
}

#builder-section-2 .builder-input-wrapper-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    gap: 1rem;
    padding-bottom: 1rem;
}

input {
    height: 2rem;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: black;
    padding: 0.25rem 0.75rem;
    border: 1px solid darkgrey;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.35);
}

.job-desc {
    height: 6rem;
}