
#title {
    justify-content: center;
    font-size: 50px;
    color: black;
}

#home {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

#section-2 {
    height: 20vh;
}

#landing-page {
    
    background-image: url('../assets/logo_draft.png');
    background-position: 30% 20%;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 60vh;
    width: 100vw;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    justify-content: center;
}


#stepboxes {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 5px;
    border: 1px solid black;
}