#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: "CabinSketchReg";
  src: local("CabinSketch-Regular"), 
      url("./fonts/CabinSketch-Regular.ttf") format("truetype");
}
